<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="face">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name="com.face.FLinkApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.face.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.face.activity.LoginActivity"/>
<!--        <activity android:name=".MainActivity"/>-->
        <activity android:name="com.face.activity.NickNameActivity"/>
        <activity android:name="com.face.activity.FriendSelectionActivity"/>
        <activity android:name="com.face.activity.EditActivity"/>
        <activity android:name="com.face.activity.ActDetailActivity"/>
        <activity android:name="com.face.activity.ActManageActivity"/>
        <activity android:name="com.face.activity.UserInfoActivity"/>
        <activity android:name="com.face.activity.PublishActivity"/>
        <activity android:name="com.face.activity.SearchAddressActivity"/>
        <activity android:name="com.face.activity.AboutAddressActivity"/>
        <activity android:name="com.face.activity.NewFriendsMsgActivity"/>
        <activity android:name="com.face.activity.AddFriendsBySearchActivity"/>
        <activity android:name="com.face.activity.AddFriendsActivity"/>
        <activity android:name="com.face.activity.WebViewActivity"/>
        <activity android:name="com.face.activity.QrCodeActivity"/>
        <activity android:name="com.face.activity.BigImageActivity"/>
        <activity android:name="com.face.activity.SettingActivity"/>
        <activity android:name="com.face.activity.RegisterActivity"/>
        <activity android:name="com.face.activity.MyUserInfoActivity"/>
        <activity android:name="com.face.activity.MyPublishListActivity"/>
        <activity android:name="com.face.activity.MyJoinListActivity"/>
        <activity android:name="com.face.activity.MyApplyListActivity"/>
        <activity android:name="com.face.activity.MyInvitedListActivity"/>
        <activity android:name="com.face.activity.ActTabsActivity"/>
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="f8c81c2ebb3604034c503298d1581cbc"/>
<!--        <meta-data android:name="DATABASE" android:value="flink.db" />-->
        <meta-data android:name="VERSION" android:value="3" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
    </application>

</manifest>