<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.face">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name=".FLinkApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.example.face.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
<!--        <activity android:name=".MainActivity"/>-->
        <activity android:name=".activity.NickNameActivity"/>
        <activity android:name=".activity.FriendSelectionActivity"/>
        <activity android:name=".activity.EditActivity"/>
        <activity android:name=".activity.ActDetailActivity"/>
        <activity android:name=".activity.ActManageActivity"/>
        <activity android:name=".activity.UserInfoActivity"/>
        <activity android:name=".activity.PublishActivity"/>
        <activity android:name=".activity.SearchAddressActivity"/>
        <activity android:name=".activity.AboutAddressActivity"/>
        <activity android:name=".activity.NewFriendsMsgActivity"/>
        <activity android:name=".activity.AddFriendsBySearchActivity"/>
        <activity android:name=".activity.AddFriendsActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.QrCodeActivity"/>
        <activity android:name=".activity.BigImageActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.MyUserInfoActivity"/>
        <activity android:name=".activity.MyPublishListActivity"/>
        <activity android:name=".activity.MyJoinListActivity"/>
        <activity android:name=".activity.MyApplyListActivity"/>
        <activity android:name=".activity.MyInvitedListActivity"/>
        <activity android:name=".activity.ActTabsActivity"/>
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="f8c81c2ebb3604034c503298d1581cbc"/>
<!--        <meta-data android:name="DATABASE" android:value="flink.db" />-->
        <meta-data android:name="VERSION" android:value="3" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
    </application>

</manifest>